body{
    background-color: #E5E5E5;
}
/* by default margen and padding of element 0px */
*{
    margin: 0px;
    padding: 0px;
}

/* styling header section start */
.header-container{
    width: 100%;
    height: 10vh;
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* head right-side styling */
.head-right-side{
    width: 40%;
}
.head-ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    
}
.head-li{
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.head-li:hover{
    color:blue ;
    cursor: pointer;
    text-decoration: underline;
}
/* head left-side styling */
.head-left-side{
    margin-left: 30px;
    font-size: 30px;
    font-style: italic;
    font-family: serif;
}
.head-span-heading{
    color: red;
}
/* Responsive Header section */
@media screen and (min-width:100px) and (max-width:750px) {
    .header-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .head-right-side{
        width: 100%;
    }
    .head-li{
        font-size: 15px;
    }
}
/* styling header section End */

/* styling home page start */
.main-container{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items:start;
}
.home-container{
    width: 80%;
    height: 60vh;
    background-color: white;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    box-shadow: 1px 4px 10px gray;
}
/* styling home left div start */
.home-left-div{
    width: 40%;
}
.home-heading{
font-family: Georgia, 'Times New Roman', Times, serif;
}
.home-parp{
font-size: 18px;
margin-top: 15px;
font-weight: 600;
}
.home-spn-heading{
    color: darkorange;
    text-decoration: underline red;
}
/* button styling start */
.home-btn{
    background-color: rgb(238, 15, 15);
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    color: white;
}
.home-btn:hover{
    color:black;
    background-color: yellow;
    cursor: pointer;
}
.home-btn:active{
    background-color: green;
}
/* button styling start */

/* styling home left div end */

/* styling home right div  start*/
.home-right-div{
margin-right:10px;
}
.home-image{
    border-radius: 10px;
    border: 2px solid gray;
}
/* styling home right div end */

/* Responsive Home section */
@media screen and (min-width:100px) and (max-width:855px) {
    .main-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items:start;
    }
    .home-container{
        width: 100%;
        height: 100%;
        flex-direction:column-reverse;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
       }
    .home-left-div{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home-image{
        width: 150px;
        height: 200px;
        margin-top: 5px;
    }
    .home-heading{
        font-size: 30px;
        margin: 10px 15px;
    }
    .home-parp{
        font-size: 15px;
        margin: 15px;
    }
    .home-btn{
        padding: 5px 15px;
        border: none;
        margin: 15px 0px ;
    }
}
/* styling home page end  */

/* styling services section start */
.main-services{
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: start;
}
.services-container{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.ser-top-div{
    width: 50%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ser-heading{
    font-size: 30px;
    font-style: italic;
    font-family: sans-serif;
    margin: 15px 0 10px 0;
    
}
.ser-para{
    font-weight: 700;
    font-size: 18px;
}
.ser-bottom-div{
    width: 100%;
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.ser-card-div{
    width: 300px;
    height: 200px;
    background-color:white;
    border: 2px solid gray;
    border-radius: 5px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 4px 10px gray;
}
/* Responsive services section */
@media screen and (min-width:100px) and (max-width:750px) {
    .main-services{
        width: 100%;
        /* height: 100%; */
    }
    .services-container{
        width: 100%;
        height: 100%;
    }
    .ser-top-div{
        width: 100%;
        
   }
   .ser-para{
    font-weight: 700;
    font-size: 18px;
    margin: 0 10px;
}
.ser-bottom-div{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
}
/* styling services section end */

/* styling footer start */
.main-footer{
    width: 100%;
    height: 40vh;
    background-color:yellow;
    /* margin-top: 30px; */
    display: flex;
    justify-content: center;
}
.footer-container{
    width: 80%;
    height: 35vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.footer-heading{
    font-size: 32px;
    font-weight: bold;
    /* margin-top: 15px; */
}
.socails-link{
display: flex;
}
.footer-link{
    display: flex;
    list-style-type: none;
    gap: 50px;
    font-size: 20px;
    
}
.foot-li{
text-decoration: none;
color: black;
}
.foot-email{
font-size: 20px;
}
.foot-copyright{
font-size: 20px;
font-style: italic;
font-weight: bold;
}
/* Responsive footer section */
@media screen and (min-width:100px) and (max-width:750px) {
    .main-footer{
        width: 100%;
        height: 100%;
    }
    .footer-container{
        width: 100%;
        height: 100%vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    .footer-link{
        gap: 25px;
        font-size: 15px;
    }
    .foot-email{
        font-size: 15px;
    }
    .foot-copyright{
        font-size: 15px;
        font-style: normal;
        margin-left: 10px;
        }
}
/* styling footer end */

/* styling about-page start */

/* styling top about div start */
.top-about-div{
    width: 100%;
    height: 30vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
}
.about-heading{
font-style: italic;
color: darksalmon;
font-size: 50px;
margin-top: 40px;
text-shadow: 1px 2px ;
}
.about-para{
font-size: 20px;
font-weight: bold;
text-transform: capitalize;
margin-top: 25px;
text-decoration: underline;
}
/* styling top about div end */

/* styling center about div start */
 .about-main-container{
    width: 100%;
    height: 90vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-color: white;
    
} 
.center-about-div{
    width: 100%;
    height: 60vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.about-right-div{

}
.about-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid pink;
}
.about-left-div{
width: 40%;
}
.about-heading2{
    font-size: 30p;
    font-weight: bold;
}
.about-para2{
    font-size: 20px;
    line-height: 1.2em;
    text-align: justify;
}
.about-spn{
    font-size: 45px;
    color: #e91515; ;
}

/* styling center about div end */

/* styling skill about div start */
.about-skills{
width: 100%;
height: 50vh;
background-color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
}
.aboout-skill-container{
display: flex;
gap: 50px;
}
.skill-h2{
font-size: 45px;
font-weight: bold;
font-style: italic;
}
.skill-h3{
font-size: 30px;
font-weight: bold;
margin-bottom: 15px;
}
.skill-para2{
font-size: 20px;
color:red;
}
@media screen and (min-width:100px) and (max-width:750px) {
    .about-main-container{
        width: 100%;
        height: 90vh;
        
        display: flex;
        justify-content: center;
        background-color: white;
        
    } 
}

/* styling contact page */
main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 0 1rem;
    
  }
  
  .contact {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .contact p {
    margin-bottom: 2rem;
  }
  
  .contact-form .form-group {
    margin-bottom: 1rem;
  }
  
  .contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .contact-form textarea {
    resize: none;
  }
  
  .contact-form button {
    display: inline-block;
    background: #ff5722;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .contact-form button:hover {
    background: #e64a19;
  }