/* styling about-page start */

/* styling top about div start */
.top-about-div{
    width: 100%;
    height: 30vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
}
.about-heading{
font-style: italic;
color: darksalmon;
font-size: 50px;
margin-top: 40px;
text-shadow: 1px 2px ;
}
.about-para{
font-size: 20px;
font-weight: bold;
text-transform: capitalize;
margin-top: 25px;
text-decoration: underline;
}
/* styling top about div end */

/* styling center about div start */
 .about-main-container{
    width: 100%;
    height: 90vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-color: white;
    
} 
.center-about-div{
    width: 100%;
    height: 60vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.about-right-div{

}
.about-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid pink;
}
.about-left-div{
width: 40%;
}
.about-heading2{
    font-size: 30p;
    font-weight: bold;
}
.about-para2{
    font-size: 20px;
    line-height: 1.2em;
    text-align: justify;
}
.about-spn{
    font-size: 45px;
    color: #e91515; ;
}

/* styling center about div end */

/* styling skill about div start */
.about-skills{
width: 100%;
height: 50vh;
background-color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
}
.aboout-skill-container{
display: flex;
gap: 50px;
}
.skill-h2{
font-size: 45px;
font-weight: bold;
font-style: italic;
}
.skill-h3{
font-size: 30px;
font-weight: bold;
margin-bottom: 15px;
}
.skill-para2{
font-size: 20px;
color:red;
}
@media screen and (min-width:100px) and (max-width:750px) {
    .about-main-container{
        width: 100%;
        height: 90vh;
        
        display: flex;
        justify-content: center;
        background-color: white;
        
    } 
}
